services:
  web:
    build:
      context: .
      dockerfile: src/DirectoryService.Presentation/Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - postgres
      - seq
      - redis
    environment:
      - ASPNETCORE_ENVIRONMENT=Docker
    restart: always
  postgres:
    container_name: postgres
    image: postgres
    restart: always
    environment:
      POSTGRES_DB: directory_service_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5434:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: always
  seq:
    image: datalust/seq
    container_name: seq
    restart: always
    environment:
      - ACCEPT_EULA=Y
      - SEQ_FIRSTRUN_ADMINPASSWORD=seq_password_@
    ports:
      - "5341:5341"
      - "8081:80"
    volumes:
      - seq:/data
    
volumes:
  postgres-data:
  seq:
  redis_data:
